{% extends 'base.html' %}

{% block title %}
    Home 
{% endblock %}

{% block activehome %} active-menu-item {% endblock %}


{% block content %}
    <div class='container'>
        <div class='header mx-auto'>
            <h1 class='pageheader-text'> WELCOME, USER </h1>
        </div>                                                                                                                                         
    <div class='search'>
        <form name='searchform' class='mx-auto searchform row input-group' method='POST'>
            <input type='text' id='searchbar' class='form-control' name='search_query' placeholder='looking for something?'>
            <button type='button' id='searchbutton' class='btn input-group-addon'><strong> GO </strong><i class="fas fa-angle-right"></i> </button>
        </form>
    </div>

    <div class='results'>
        
    </div>

    <br>
    <br>

    <div class='header mx-auto'>
        <h2 class='pageheader-text'> library. fast. </h2>
        <br><br>
    </div>

    <h5 class='pageheader-text'>We, here at SwiftLib are determined to make your library management a fun and useful experience.
    <br>Swiftlib is an application which takes ease and effectivity of library management to a whole new level.
    <br>sWith this website, a librarian can add students, delete sudents, issue and return books, and much more.
    </h5>

{% endblock %}