<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> SwiftLib - Base HTML </title>
        <!-- CSS LINKS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/da8d57c989.js"></script>
        <link rel="stylesheet" href="{% static 'assets/style.css' %}">
    </head>
    <body>
        <nav id='mainnav' class="navbar navbar-expand-lg navbar-dark">
                <a class="navbar-brand mx-auto" href="#" id='logo-text'>
                    <img class='logo-img img-fluid' src="{% static 'assets/logotext-w-trans.png' %}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-bars std-icon whiteicon"></i>
                </button>
        </nav>
        <div class='container'>
            <br>
            <!-- LOGIN CARD -->
            <div class='card logincard text-center mx-auto'>
                <div class='card-body'>
                    <h1 class='card-title'> LOGIN </h1>
                    <form name='loginform' action='#' method='POST'>
                        {% csrf_token %}
                        <div class='form-group'>
                            <input class='form-control' type='email' name='emailinput' placeholder='email ID'> 
                        </div>
                        <div class='form-group'>
                            <input class='form-control' type='password' name='password' placeholder='password'>
                        </div>
                        <button class='btn btn-success loginbutton' action='submit'> Login! </button>
                        <br>
                        <small id='forgotpasswordlink' class='form-text text-muted'> 
                                <a href='#' >Forgot Password? </a>
                        </small>
                    </form>
                </div>
            </div>

        </div>
    </body>
    <!-- JAVASCRIPT, JQUERY AND POPPER.JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script rel='application/javascript' src='static/app.js'></script>
</html> 
