{% extends 'base.html' %}

{% block activeissues %} active-menu-item {% endblock %}
{% block title %} Issues {% endblock %}

{% block content %}
     <div class='container'>
         <div class='header mx-auto'>
             <h1 class='pageheader-text'> ISSUES - PENDING BOOKS </h1>
         </div>
        <div class='mx-auto'>
            <!-- show all books pending to be returned -->
            <h3 class='pageheader-text'> Select Criteria -  </h3>

            <div class=' mx-auto' id='issues-bar'>
                <!-- selection for search and sort criteria -->
                <form method='post' action='#' class='searchform'>
                    {% csrf_token %}
                    <div class='form-group issues-select-form searchform input-group'>
                        <input type='text' id='searchbar' class='form-control' name='search_query' placeholder='Search in Issues'>
                        <div class='searchoptions'>
                        <select name='search_criteria' title='search_criteria' placeholder='search by' class='issue-selection-bar-content form-control-sm searchbar-drop my-auto'>
                            <option value='book_isbn'> ISBN of Book Issued </option>
                            <option value='book_name'> Name of Book Issued </option>
                            <option value='student_name'> Borrowed By (name of student) </option>
                        </select>
                        </div>
                        <button type='submit' id='searchbutton' onclick='submit' class='btn input-group-addon'><strong> GO </strong><i class="fas fa-angle-right"></i> </button>
                    </div>
                </form>
            </div>
        </div>
        {% if has_results %}
        <div class='mx-auto' name='results'>
            <h4 class='pageheader-text mx-auto'> Search Results </h4>
            {% for result in results %}
                <div class='std-info-mini row mx-auto container'>
                    <p class='student-name col-sm my-auto'> {{ result }} </p>
                </div>
            {% endfor %}
        </div>
        {% else %}
            {% for issue in default %}
                <div class='std-info-mini row mx-auto container'>
                    <p class='student-name col-sm my-auto'> {{ issue }} </p>
                </div>
            {% empty %}
                <p class='pageheader-text'> NO ISSUES! </p>
            {% endfor %}
        {% endif %}
{% endblock %}
