{% extends 'base.html' %}

{% block activeissues %} active-menu-item {% endblock %}
{% block title %} Issues {% endblock %}

{% block content %}
     <div class='container'>
         <div class='header mx-auto'>
             <h1 class='pageheader-text'> ISSUES - PENDING BOOKS </h1>
         </div>
        <div class='mx-auto'>
            <!-- show all books pending to be returned -->
            <h3 class='pageheader-text'> Select Criteria -  </h3>
            <div class=' mx-auto' id='issues-bar'>
                <!-- selection for search and sort criteria -->
                <form method='post' class='searchform'>
                    {% csrf_token %}
                    <div class='form-group searchform input-group'>
                        <input type='text' id='searchbar' class='form-control' name='search_query' placeholder='Search'>
                        <select name='sort_criteria' placeholder='filter' class='issue-selection-bar-content form-control-sm searchbar-drop my-auto'>
                            <option value='newest'> Most Recent </option>
                            <option value='oldest'> Least Recent </option>
                        </select>
                        <button type='button' id='searchbutton' class='btn input-group-addon'><strong> GO </strong><i class="fas fa-angle-right"></i> </button>
                    </div>
            </div>
        </div>
{% endblock %}
