/*working file!*/
html {
    height: 100%;
    background-color: #020202;
}


body{
    font-family: 'IBM Plex Sans';
    background-color: transparent;
}

.redicon{color: red;}
.greenicon{color: lightgreen;}
.blueicon{color: lightblue;}
.yellowicon{color: yellow;}
.whiteicon{color:white;}
.greyicon{color:grey;}
.blackicon{color:black;}
.mainicon{color:red}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

.navbar-logo{
    height: 5em;
    width: 5em;
}

.maintext{
    color: #bffff1;
}

#mainnav{
    background-color: #020202;
    color: white;
    position: sticky;
    padding: none;
    border-radius: 9px;
    margin: 5px;
}

#logo-text{
    font-family: 'IBM Plex Sans';
}

.logo-img{
    height: 40px;
}

.std-icon{
    padding: 0.5vw;
    color: white;
}

.active-menu-item{
    border: none;
    border-bottom: 1px solid #6fffe9;
}


.nav-pill{
    padding: none;
}

.logincard{
    width: 50%;
    font-family: 'IBM Plex Sans';
}

.loginbutton{
    width: 100%;
}

.login-logo{
    height:150px;
    width: 150px;
}   

.header{
    text-align: center;
    padding: 10px;
}

.pageheader-text{
    color: #6FFFE9;
}

.search{
    text-align: center;
}

#searchbar{
    height: 40px;
    border: 1px solid #FCFCFC;
    border-radius: 5px;
    background-color:transparent;
}

#searchbar:focus{
    outline: none;
    outline-color: none;
}

#searchbutton{
    background-color: transparent;
    color: #6FFFE9;
    border: 1px solid #FCFCFC;
    font-family: 'IBM Plex Sans';
}

.quickaction-buttons{
    display: inline-block;
}

.qa-button{
    background-color: #FCFCFC;
    width: 100%;
    color: #020202;
    padding: 10px;
    border: none;
}

.qa-button-icon{
    float: left;
    color: #020202;
}

.stdicon{
    padding: 1%;
}

.btn-div{
    padding: 2%;
}

.student-name{
    font-family: 'IBM Plex Sans';
    padding: 2px;
    color: #C1CFDA;
    padding: 5px;
}

.std-info-mini{
    margin-left: auto;
    width: 100%;
    border: 1px solid #6FFFE9;
    border-radius: 2px;
    padding: 2%;
}

.std-info-small-button-group{
    float: right;
    padding: 5px;
    width: 100%;
}

.student-info-small-button{
    padding: 2px;
    width: 100%;
    background-color: #39ff19;
}

.borrowed{
    color: red;
}

.borrowed-button{
    background-color: red;
    color: #bffff1;
}

.s-modal-header{
    background-color: #020202;
    color:  #6FFFE9;
    border-bottom: none;
}

.s-modal-body{
    background-color: #020202;
    height: auto;
}

.s-modal{
    border: 1px solid #6FFFE9;
    border-radius: 5px;
}

.iframe-custom{
    border: none;
    height: auto;
}

.customlabel{
    color: white;
}

.custom-formgroup{

}

.custom-input{

}


.custom-submit-button{
    width: 100%;

}

.student-add-form{
    height: 250px;
    align: center;
    width: 100%;
}
.issues-add-form{
    height: 250px;
    align: center;
    width: 100%;
}

.returned{
    color: green;
}

.issues-return-form{
    height: 250px;
    align: center;
    width: 100%;
}

.add-book-form{
    height: 330px;
    align: center;
    width: 100%;
}

.exception-button{
    height: 90%;
}


svg {
  width: 100px;
  display: block;
  margin: 40px auto 0;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  &.circle {
    -webkit-animation: dash .9s ease-in-out;
    animation: dash .9s ease-in-out;
  }
  &.line {
    stroke-dashoffset: 1000;
    -webkit-animation: dash .9s .35s ease-in-out forwards;
    animation: dash .9s .35s ease-in-out forwards;
  }
  &.check {
    stroke-dashoffset: -100;
    -webkit-animation: dash-check .9s .35s ease-in-out forwards;
    animation: dash-check .9s .35s ease-in-out forwards;
  }
}

p {
  text-align: center;
  margin: 20px 0 60px;
  font-size: 1.25em;
  &.success {
    color: #73AF55;
  }
  &.error {
    color: #D06079;
  }
}


@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

.infotext{
    color: white;
    padding: 0px;
    font-size: 20px;
}

.info-fieldname{
    font-style: bold;
    color: #3caa2b;
}

.info-field{
    float: right;
}

.notifier{
    color: white;
    padding: 1px;
}

.success{
    color: green;
}

.error{
    color: red;
}

.issues-selection-bar{
    background-color: white;
    font-color: black;
    padding: 1px;
    border: 5px solid#39ff19;
    border-radius: 7px;
}

.issues-selection-bar p{
    color: black;
}

.issues-selection-bar-content{
    color: #39ff19;
    padding: 5px;
}

.searchbar-drop{
    height: 100%;
    padding: 9px;
    background-color: transparent;
    color: #FCFCFC;
    border: 1px solid #FCFCFC;
}

.searchbar-drop :active :focus{
    outline: none;
}

.searchbar-drop option {
    background-color: #000000;
    padding: 5px;
}

.issues-select-form{
    padding: 10px;
}


.error{
    color: red;
}

.logout_btn{
    color: red;
}    

.logout_btn:hover{
    text-decoration: none;
    color: white;
text-color:white;
}

.logout_btn a{
    text-decoration:none;
    color:white;
}

.iframe-cust-lg {
    border: none;
    height: 400px;
}
